<link rel="stylesheet" href="/css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/css/style.css" />
<script src="/js/alertify.min.js"></script>
<link rel="stylesheet" href="/css/alertify.min.css" />
<link rel="stylesheet" href="/css/themes/default.min.css" />
<div class="nav">
  <a href="/home">Home</a>
</div>
<style>
  .nav {
    padding: 20px;
  }
  a {
    font-size: 2rem;
  }
</style>
